# Rust
/target
Cargo.lock

# Nimble specific
.nimble/cache/
*.nmb.bc
result.txt
examples/stdlib/io/sample_copy.txt
examples/stdlib/io/sample_copy.bin
local/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.swp

# Logs
*.log
